*{ font-family: "Roboto", sans-serif;
    font-weight: 350;
    font-style: normal;}

.TitlesDoc {text-align: center;color: #00b39b; line-height: 18px; margin-top: 5%;
  
     }

 .PDoc  {text-align: center; line-height: 25px; color: rgb(134, 134, 128); margin-bottom: 5%;} 

 .Countries { display: flex; flex-wrap: wrap ; justify-content: space-around; margin: 2% 15% }


 .Country {border-radius: 5%; margin-bottom: 2%;}  

 .Country img {margin-top: ; 
border-top-right-radius: 2% ; 
border-top-left-radius: 2%; height: 300px; width: 300px;}

.Content  {display: flex; 
justify-content: space-between; 
align-items: center; padding-right: 14%;
}

.Country button { color: azure; 
    background-color: cadetblue; 
padding: 4%;
border: none;
 border-radius: 2%; 
font-weight: 700;
 letter-spacing: 0.4em; }

 .Country:hover {box-shadow: 5px 2px 8px 7px gray, 8px 6px 4px 5px rgb(175, 175, 202); cursor: pointer;}

